html, body, #root {
  height: 100vh;
}

.App {
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.error {
  color: #441155;
  border: 3px solid #700b70;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #441055;
  font-weight: bold;
  width: 100%;
}

.nav_ul {
  font-weight: bold;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 5em;
  & li {
    & a {
      display: flex;
      border-bottom: 2px solid #441155;
      color: #3f0f0f;
      transition: background-color 0.25s ease, color 0.5s ease;
      &.active-tab {
        background: #9e0634;
        color: #fff;
      }
      &:hover {
        background: #e92a2a;
        color: #fff;
      }
      &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
      }
      
    } 
  }
 
}




